.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.auth_img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}
